%h2 List of all questions

.questions
  - @questions.each do |question|
    .question
      .q-title= link_to render_as_markdown(question.title), question_path(question)
      .q-body= render_as_markdown(question.body)
