- unless @search_result
  %h2 List of all questions

.questions
  - @questions.each do |question|
    .question
      .q-title= link_to question.title, question_path(question)
      .username= question.user.name
      .q-body.limited= render_as_markdown(question.body)
