%h2 Ask a question

= form_for @question do |f|
  = render partial: "/layouts/errors", locals: { record: @question }

  .field
    .label Title:
    %input{ type: "text", name: "title", placeholder: "Brief question", value: @question.title, maxlength: 255 }

  .field
    .label Body:
    %textarea{ name: "body", placeholder: "All the glorious details of your question, feel free to use markdown", maxlength: 65535 }
      = @question.body

  .field.actions
    = f.submit "Submit"
