= form_for [@question, @answer] do |f|
  = render partial: "/layouts/errors", locals: { record: @answer }

  .field
    .label Title:
    %input{ type: "text", name: "title", placeholder: "Brief answer", value: @answer.title, maxlength: 255 }

  .field
    .label Body:
    %textarea{ name: "body", placeholder: "tl;dr answer", maxlength: 65535 }
      = @answer.body

  .field.actions
    = f.submit "Answer"
