blockquote {
  font-style: italic;
}

.field, .success, .failure {
  margin: 2rem 0.5rem 0 0.5rem;
}

.field.actions {
  margin-top: 4rem
}

.field {
  text-align: left;
}

.label {
  color: #aaaaaa;
  vertical-align: top;
}

.label.inline {
  display: inline;
}

input[type=submit] {
  border: 0.1rem solid silver;
}

textarea {
  border: 0.1rem solid silver;
  height: 4rem;
}

.foot {
  font-family: monospace;
  font-size: 0.9rem;
  padding-top: 1rem;
  text-align: right;
}

.questions {
  display:inline-block;
}

.question {
  word-wrap:break-word;
}

.a-title, .q-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.a-body, .q-body {
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.3rem #ccc;
  margin-bottom: 2rem;
}

.q-body.limited {
  max-height: 24rem;
  overflow: hidden;
}

.username {
  color: #6cf;
  font-size: 0.8rem;
  line-height: 1;
  padding-right: 0.6rem;
  text-align: right;
}
